*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* navbar */
.navlogo{
    width:5vw;
    height:10vh;
    display: flex;
    color: #234E5C;
}
.navbar li{
    list-style: none;
}
.navbar a{
    text-decoration:none ;
    color: #234E5C;
    font-size: 1rem;
    font-weight: bold;
}
header{
    
    width: 100%;
    top: 0;
    left: 0;
    scroll-behavior: smooth;
}
.navbar {
    background-color: #ffffff;
    width: 100%;
    height: 90px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    

    
}
.navmargin{
    width: 100%;
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoa{
    width:70px;
    height:70px;
    border-radius: 50%;
}
.navbar .toggle_btn{
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.navbar .links{
    display: flex;
    gap: 4rem;
}
.dropdown{
    position:absolute;
    height: 0;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: rgba(183,157,185,.80);
    backdrop-filter:blur(15px);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    transition: 0.3s;

}
.dropdown li{
    padding: 0.7em;
    list-style: none;
}
.dropdown a{
    color: #234E5C;
    font-size: 1rem;
    font-weight: bold;
}
.dropsocial{
    display: flex;
    justify-content: center;

}
.dropdown.open{
    height: 240px;
}
/* nav responsive */
@media (max-width :1200px){
    .navbar .links,.Socialmedia{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
        height: 80px;
    }
    .logoa{
        width:60px;
        height:60px;
    }
    .navbar{
        height: 80px;
    }
    .dropdown{
        display: block;
    }
    
}
@media (max-width:576px){
    .dropdown{
        left: 2rem;
        width: unset;
        top: 80px;
    }

}

/* title */
.Brwallhallaimage{
    background-image: url(../images/Bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height: 100vh;
    background-position: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titlebox{
    width: 95%;
    height: 55%;
    background-color: rgba(183,157,185,.80);

}
.logo img{
    width:5%;
    height:5%;
    border-radius: 50%;
    
}
.about{
    font-size: 2.5em;
    height: 80vh;
    width: 100%;
}
.about button{
    width: 10%; 
    border-radius: 10px; 
    background-color: blue; 
    color: aliceblue; 
    font-size: .5em;
}
.countdown{
    display: flex;
    justify-content: center ;
    font-size: 1em;
}
/* tournaments */
.tournaments-border{
    width: 90%;
    height: 40vh;
    background-color:rgba(183,157,185,.30) ;
    border-radius: 15px;
}
.tournamenttitle {
    font-size: 1.5em;
    cursor: pointer;
}
.ttitle a{
    text-decoration: none;
    color: #234E5C;
}


/* winners */

.item{
    min-height: 50vh;
    max-height: 35vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.item::-webkit-scrollbar{
    display: none;
}
.project-body {
    height: calc(100% - 50px); /* Adjust the height based on your requirements */
    overflow-y: auto;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.winnersimg{
    width:40%;
    height:10%;
}
.winnersimg img{
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    
}
/* rules */

/* footer */
.footer{
    background-color: #000000;
    color: aliceblue;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 980px) {
    .titlebox{
        height: 60%;
    }
    .about button{
        width: 20%;
    }
    .logo img{
        width: 10%;
    }
    /* .Brwallhallaimage{
        margin-top: 10%;
    } */
    .navbar .toggle_btn{
        height: 50px;
    }
@media(max-width:600px){
    .titlebox{
        height:90%;
    }
}
@media(max-width: 400px) {
        
        .about{
            font-size:2.5em;
        }
        .titlebox{
            height:75%;
        }
        .about button{
            width: 40%;
        }
        .Brwallhallaimage{
            height: 140vh;
            /* margin-top: 20%; */
        }
    }
}